
.header{
  background-color: #20232a;
  color: #ffffff;
  z-index: 1;
  width: 100%;
  height: 50px;
}
.header_elements{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
.header_image{
  width: 45px;
  height: 45px;
  margin-top: -5px;
}
.header_logo_link{
  display: flex;
  margin-top: 15px;
}
.header_logo{
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color:rgb(97,218,251);
}
.header_glinks{
  margin-top: 15px;
}

.header_glinks a{
  margin-left: 20px;
}
.header_glinks > a:hover{
  color: rgb(97,218,251);
}
